* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f5deb3;
    overflow-x: hidden;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #3b988d;
}

.link {
    margin: 2% 1% 2% 1%;
    padding: 10px 0 10px 0;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: rgb(247, 226, 187);
    font-size: x-large;
    background-color: transparent;
    transition: all 0.25s;
}

.link:hover { 
    background-color: rgb(45, 45, 45);
}

.menu > h1 {
    position: relative;
    text-align: center;
    color: white;
}

.menu > h1::before { 
    content: "";
    position: absolute;
    bottom: -10%;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    border-color: black;
    border-width: 1px;
    border-bottom-style: solid;
}

.outlet {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 15vw;
    width: 85vw;
}

.addBtn {
    align-self: flex-end;
    margin: 3% 10% 3% 0%;
    font-size: x-large;
    background-color: #dcb75c;
    border-radius: 10px;
    padding: 1.5%;
    border-width: 0;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s, color .25s;
}

.addBtn:hover {
    background-color: #e7cb86;
    color: #6a994e;
}

.table {
    margin: 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: larger;
}

.row>label {
    flex: 5;
    text-align: center;
    padding: 1% 0;
    border-left: 1px rgb(0, 0, 0, 0.5) solid;
    color: black;
    transition: background-color .2s;
}

.row:not(.initial)>label:hover {
    background-color: rgb(250, 235, 208);
}

.row {
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0.5% 0;
    transition: all .2s;
}

.row:not(.initial):hover {
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px rgb(0, 0, 0, 0.5);
}

.row.initial{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: all .25s;
}

.modal.show {
    opacity: 1;
    pointer-events: visible;
}

.shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffe8d6;
    width: 65%;
    height: 65%;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 2%;
}

.form h2 {
    font-weight: normal;
    font-family: sans-serif;
    position: relative;
    margin: 2% 0% 2% 0;
    padding-left: 2%;
    padding-bottom: 1%;
    border: 1px black;
    border-bottom-style: solid;
}

.form>div {
    margin: 0 3% 1% 2%;
    font-size: x-large;
}

.form label {
    margin-right: 2%;
}

.form input, .form select {
    font-size: x-large;
}

.required::after {
    color: rgb(233, 24, 24);
    content: "*";
}

.form button {
    background-color: #38b038;
    border-style: none;
    border-radius: 15px;
    font-size: x-large;
    margin-top: auto;
    align-self: center;
    padding: 1% 3%;
    cursor: pointer;
    color: #d0ff00;
}