.goBackButton {
    align-self: flex-start;
    margin: 2%;
    padding: 5px 8px;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px rgba(0, 0, 0, 0.5) solid;
    border-radius: 50%;
    transition: all .25s;
}

.deleteButton {
    background-color: #fb2222;
    color: gainsboro;
    align-self: flex-end;
    margin: 0% 4% 2%;
    font-size: x-large;
    border-style: none;
    border-radius: 15px;
    padding: 1%;
    cursor: pointer;
    transition: all .15s;
}

.deleteButton:hover {
    background-color: #fd5555;
    color: black;
}

.goBackButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.name {
    margin: 0 2%;
    padding-left: 2%;
    padding-bottom: 10px;
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
    font-weight: normal;
}

.category {
    text-align: end;
    margin: 1% 4%;
    color: rgba(0, 0, 0, 0.5);
}

.viewGrid {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.gridRow {
    display: flex;
    background-color: #b3cbe4;
    margin-bottom: 2%;
}

.gridRow>div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gridRow label { 
    font-size: 1.25em;
    text-align: center;
}

.gridRow.info h2 {
    text-align: center;
}

.gridRow.info label {
    margin: 5px;
    align-self: center;
    height: 1.5rem;
    transition: font-size .15s;
}

.gridRow.info label:hover {
    font-size: 1.5em;
}

.gridRow:not(.info)>div>label {
    margin: 2% 5% 0;
    padding: 0 2%;
    font-size: x-large;
    text-align: start;
    border-bottom: 1px black solid;
}

.objListing {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    margin: 2% 5% 5%;
    display: flex;
    flex-direction: column;
}

.objListing>label {
    padding: 1% 0;
    background-color: rgb(218, 218, 218);
    transition: all .25s;
}

.objListing>label:hover {
    background-color: rgb(232, 232, 232);
}