.goBackButton {
    align-self: flex-start;
    margin: 2%;
    padding: 5px 8px;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px rgba(0, 0, 0, 0.5) solid;
    border-radius: 50%;
    transition: all .25s;
    cursor: pointer;
}

.goBackButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.deleteButton {
    background-color: #fb2222;
    color: gainsboro;
    align-self: flex-end;
    margin: 0% 4% 2%;
    font-size: x-large;
    border-style: none;
    border-radius: 15px;
    padding: 1%;
    cursor: pointer;
    transition: all .15s;
}

.deleteButton:hover {
    background-color: #fd5555;
    color: black;
}

.name {
    position: sticky;
    top: 0;
    padding-top: 2%;
    background-color: wheat;
    margin: 0 2%;
    padding-left: 2%;
    padding-bottom: 10px;
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
    font-weight: normal;
}

.category {
    text-align: end;
    margin: 1% 4%;
    color: rgba(0, 0, 0, 0.5);
}

.viewGrid {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.gridRow {
    display: flex;
    background-color: #b3cbe4;
    margin-bottom: 2%;
}

.gridRow>div {
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.gridRow label { 
    font-size: 1.25em;
    text-align: center;
}

.gridRow.info h2 {
    text-align: center;
}

.gridRow.info label {
    margin: 5px;
    align-self: center;
    height: 1.5rem;
    transition: font-size .15s;
}

.gridRow.info>div {
    width: 100%;
}

.gridRow.info label:hover {
    font-size: 1.5em;
}

.gridRow:not(.info)>div>label {
    margin: 2% 5% 0;
    padding: 0 2%;
    font-size: x-large;
    text-align: start;
    border-bottom: 1px black solid;
}

.listTitle {
    display: flex;
    border-bottom: 1px black solid;
    margin: 2% 5% 0;
    justify-content: center;
}

.listTitle>label {
    margin: 0 2%;
    padding: 0;
    font-size: x-large;
    text-align: start;
}

.listTitle>button {
    padding: 0 5%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: 3%;
    background-color: #cfe1c9;
    color: #a53860;
    border: none;
    font-size: x-large;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.listTitle>button:hover {
    background-color: #e5eee2;
    color: #7e2345;
}

.objList {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    margin: 2% 5% 5%;
    display: flex;
    flex-direction: column;
}

.shortObject {
    padding: 1% 0;
    background-color: rgb(218, 218, 218);
    transition: all .25s;
    cursor: pointer;
}

.shortObject:hover {
    background-color: rgb(232, 232, 232);
}

.shortObject.expired {
    background-color: #fb2222;
    color: white;
}

.shortObject.expired:hover {
    background-color: #fa8282;
}

.kaznaShortObject label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2%;
}

.kaznaShortObject button {
    border-style: none;
    background-color: #fd4848;
    color: white;
    font-size: x-large;
    padding: 0 10px;
    transition: all .25s;
    cursor: pointer;
}

.kaznaShortObject button:hover {
    background-color: #fa8282;
    color: black;
}
